
*,
*::before,
*::after  {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lobster', cursive !important;

  /* font-family: 'Comfortaa', cursive important!;
  @import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap'); 
    */
}



nav ol ul li  {
  list-style-type: none;
}

:root {
  --info: #17a2b8;

  }
  


/* END OF CSS RESET */

/* 
============
HEADER
===========
*/

#mainLogoHeader {
  width: 100px;
}

#headerId{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#navbarFlexId{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* 
============
HOMEPAGE
===========
*/

/* carousel */
#homeCarouselContainer{
  margin-bottom: 20px;
}
#homeCarouselImg{
  margin-bottom: 20px;
}

#reserveRoomBtn{
  font-size: 2rem;
}


/* feature cards */

#featureContainer {
  text-align: center;
}

.featCard{
width:18rem;
/* width: 40%;*/
}

#parent {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.child{

}




/* bottom row images */
.card-body{
  min-height: 20rem;
  
}
#homeImgRow{
  margin-bottom: 80px;
}

.homeimg {
  margin-top: 10px;
}







/* 
==============
BOOK ROOM PAGE
==============
*/


/* 
===================
VIEW ALL ROOMS PAGE
===================
*/

.viewRmTitle{
  text-align: center;
  margin-top: 3rem;
}

.viewRmImg{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom:0px;
  box-shadow: 0px 4px 10px 3px #272727, inset 0px 4px 10px rgba(0, 0, 0, 0.25);

}

.viewRmImg:hover{
  border-radius: 100%;
}

#imgBtnContainer{
position: relative;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
}

.visitBtn{
  position: absolute;
  top: 70%;
  left: 50%;
  font-size: 1.2rem;
  padding-top: 0px;
  padding-bottom:0px;
  box-shadow: 0px 4px 10px 3px #ffffff, inset 0px 4px 10px rgba(189, 189, 189, 0.753);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* 
===============
AMENITIES PAGE
==============
*/

img {
  width: 100%;
}

#amenitiesTitle{
  font-size: 6rem;
  display: flex;
  align-items: center;
  justify-items: center;
}
.container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#AmenitiesBigContainer{
margin-bottom: 4rem;

}

/* middle column */
#middleColumn{
  padding-left: 0;
  padding-right: 10;
}

.middleBottom{
  margin-top: 20px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

/* side columns */

.row-no-padding{
  margin-left: 0;
  margin-right: 0;
}

#lastColumn{
  padding-left: 0;
  padding-right: 0;
}

#firstColumn {

}

#bottomAmenitiesId{
  width: 45%;     /* add this back in to make bottom images smaler     */  
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: flex;
}

#topSideImgId{
display: flex;
align-items: center;
justify-items: center;
}

.topSideImg{
display: flex;
align-items: center;
justify-items: center;
}

.bottomImg{
  padding: 5px;


}

.inlineImg {
margin-top: 20px;

}

/* 
====================
INDIVIDUAL ROOM PAGE
====================
*/



/*
=============== 
MEDIA SCREENS
===============
*/

/* @media only screen and (max-width: 768px) {
  .nav-link {
    font-size: 10px;
    color: red;

  }

}


@media only screen and (max-width: 1000px) {
  NavWrapper {
    font-size: 10px;
    color: red;
  }

} */