*,
*::before,
*::after  {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
/*   font-family: 'Lobster', cursive !important;
 */ 
  font-family: var(--font-book);

  /* font-family: 'Comfortaa', cursive important!;
  @import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap'); 
    */
}



nav ol ul li  {
  list-style-type: none;
}

:root {
  --info: #17a2b8;
  
 /*  --font-light: "AirbnbCerealLight", sans-serif;
  --font-book: "AirbnbCerealBook", sans-serif;
  --font-black: "AirbnbCerealBlack", sans-serif;
  font-family: var(--font-light); 
   }
  
  @font-face {
    font-family: "AirbnbCerealLight";
    src: url(/fonts/AirbnbCerealLight.woff);
  }
  
  @font-face {
    font-family: "AirbnbCerealBook";
    src: url(/fonts/AirbnbCerealBook.woff);
  }
  
  @font-face {
    font-family: "AirbnbCerealMedium";
    src: url(/fonts/AirbnbCerealMedium.woff);
  }
  
  @font-face {
    font-family: "AirbnbCerealBold";
    src: url(/fonts/AirbnbCerealBold.woff);
  }
  
  @font-face {
    font-family: "AirbnbCerealBlack";
    src: url(/fonts/AirbnbCerealBlack.woff);
  
   */
}
/* END OF CSS RESET */

/* 
============
HEADER
===========
*/

#mainLogoHeader {
  width: 100px;
}

#headerId{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}




/* 
====================
FOOTER
====================
*/ 

.footerCard{
  height: 25%;

  text-align: center;
}

#navbarFlexId{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 25%;
}

#emailHelp{
font-size: large;
}

.footerLinks{
  padding-bottom: 0px;
  margin-bottom: 0px;
}

/* 
============
HOMEPAGE
===========
*/

/* carousel */
#homeCarouselContainer{
  margin-bottom: 20px;

}
#homeCarouselImg{
  margin-bottom: 20px;
  margin-top: 20px;
  width: 73vw;
  box-shadow: 0px 2px 9px 1px #003a44, inset 0px 2px 5px rgba(1, 14, 19, 0.25);

}

#reserveRoomBtn{
  font-size: 2rem;
}


/* feature cards */

#featureContainer {
  text-align: center;
}

.featCard{
width:13rem;
border: none;

}

#parent {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.child{

}

/* bottom row images */
.card-body{
  min-height: 20rem;
  
}
#homeImgRow{
  margin-bottom: 80px;
}

.homeimg {
  margin-top: 10px;
}







/* 
==============
BOOK ROOM PAGE
==============
*/

.BookRmJumbo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  background-color: rgba(104, 176, 189, 0.4);
/*   box-shadow: rgba(0, 93, 110, 0.2);*/  
/* border: 3mm ridge rgba(0, 93, 110, 0.5);*/
margin-bottom: 2px;
margin-top: 5px;
padding-top: 10px;
}

.bookRmImg{
  width: 60%;
  box-shadow: 0px 2px 9px 1px #000000, inset 0px 2px 5px rgba(1, 14, 19, 0.25);

}

.reserveContainer{
  margin-top: 50px;
  margin-bottom: 50px;
}

/* 
===================
VIEW ALL ROOMS PAGE
===================
*/

.viewRmTitle{
  text-align: center;
  margin-top: 3rem;
}

.viewRmImg{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom:0px;
  box-shadow: 0px 4px 10px 3px #272727, inset 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.viewRmImg:hover{
  border-radius: 100%;
}

#imgBtnContainer{
position: relative;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
}

.visitBtn{
  position: absolute;
  top: 70%;
  left: 50%;
  font-size: 1.5rem;
  padding-top: 0px;
  padding-bottom:0px;
  box-shadow: 0px 2px 5px 1px #ffffff, inset 0px 4px 10px rgba(189, 189, 189, 0.753);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* 
===============
AMENITIES PAGE
==============
*/

img {
  width: 100%;
}

#amenitiesTitle{
  font-size: 6rem;
  display: flex;
  align-items: center;
  justify-items: center;
}
.container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#AmenitiesBigContainer{
margin-bottom: 2rem;

}


.topRow{
  margin-bottom: 2rem;
}

/* middle column */
#middleColumn{
  padding-left: 0;
  padding-right: 10;
  
}

.middleBottom{
  margin-top: 20px;
  width: 70%;
  margin-left: 5px;
  margin-right: 5px;
  
}

/* side columns */

.row-no-padding{
  margin-left: 0;
  margin-right: 0;
}

#lastColumn{
  padding-left: 0;
  padding-right: 0;
}

/* #firstColumn {

}
 */
#bottomAmenitiesId{
   width: 300px;      /* add this back in to make bottom images smaller     */  
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: flex;
}

#topSideImgId{
display: flex;
align-items: center;
justify-items: center;
}

.topSideImg{
display: flex;
align-items: center;
justify-items: center;
}

.bottomImg{
  padding: 5px;


}

.inlineImg {
margin-top: 20px;

}

/* .rightPadding{
  margin-left: 5px;
  padding-left: 5px;
} */

/* 
====================
INDIVIDUAL ROOM PAGE
====================
*/

.viewMore{
  text-align: center;
  margin-top: 20px;
}

/* .mainRmImg{
  width:70%;
} */

.amenitiesContainer{
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: 20px;
  text-align: center;
}

.RmImg{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom:0px;
  box-shadow: 0px 4px 10px 3px #272727, inset 0px 4px 10px rgba(0, 0, 0, 0.25);
}


.includedlAmenImg{
  width: 25%;
  margin-bottom: 30px;
}

.amenitiesLi{
  font-size: 1.5rem;
}

.pageMargins{
  margin-left: 5px ;
  margin-right: 5px;
  margin-bottom: 15px;
  padding-right: 5px ;
  padding-left:  5px ;
}

/* #positioningId{
  position: absolute;
  left: 700px;
  margin-left: 100px;
} */

.amenitiesColumnId{
  margin-left: 5px ;
  margin-right: 5px;
  margin-bottom: 60px;
  padding-right: 5px ;
  padding-left:  5px ;
  display: inline-flex;
  justify-content: center;
  align-content: center;
}




/* 
=======================
MAKE A RESERVATION PAGE
=======================
*/




/* 
============
MODAL
===========
*/

#ReserveModalId{
  color: green;
  background-color: cornflowerblue;
}





/*
=============== 
MEDIA SCREENS
===============
*/

/* @media only screen and (max-width: 768px) {
  .nav-link {
    font-size: 10px;
    color: red;

  }

}


@media only screen and (max-width: 1000px) {
  NavWrapper {
    font-size: 10px;
    color: red;
  }

} */