*,
*::before,
*::after  {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Stick&display=swap');
  font-family: 'Lobster Two', cursive;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}


.calendar {
  box-sizing: border-box;
  font-size: 1rem;
  max-width: 800px;
  background-color: grey;
  width: 65rem;
  height: 54rem; 
box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.5);
  border-radius:1%;
}

.month{
/*   width: 100%;*/ 
  height: 8rem;
  background-color:#00B2B8 ;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding:0 3rem;
}

.month i {
margin-top: 3rem;
cursor: pointer;
}


.date{
  margin-top: 2rem;

}

/* END OF HEADER */

.weekdays{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  width: 100%;
  height: 5rem;
  font-size:1.2em;
  font-weight: bold;

}

.weekdays div{
  
}

@media (max-width: 768px) {
  
  .calendar {
    max-width: 200px;
  }




}


/* 
.calendar .header {
  background-color: var(--light-blue);
  text-align: center;
  min-height: 2rem;
  line-height: 2rem;
  color: var(--black);
  font-weight: 700;
  display: flex;
}

.calendar .day-names {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
}

.calendar .body {
  border: 1px solid var(--light-blue);
}

.calendar .header .previous {
  flex: 1;
  text-align: left;
  margin-left: 1rem;
}

.calendar .header .next {
  flex: 1;
  text-align: right;
  margin-right: 1rem;
}

.calendar .week {
  background-color: white;
  width: calc(100% / 7);
  height: 44px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
  font-weight: 400;
}
.calendar .week div {
  width: 100%;
}

.calendar .day {
  position: relative;
  width: calc(100% / 7);
  height: 44px;
  display: inline-block;
  background-color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
}

.calendar .day div {
  width: 54px;
  height: 44px;
  position: relative;
  color: var(--black);
  z-index: 100;
  line-height: 44px;
}

.calendar .day div.before {
  color: var(--grey);
}

.calendar .day div.selected {
  background-color: var(--red);
  color: var(--white);
  font-weight: bold;
}

.calendar .day div.today {
  background-color: var(--grey);
}
 */