*,
*::before,
*::after  {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Stick&display=swap');
  font-family: 'Lobster Two', cursive;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}


.calendar {
  box-sizing: border-box;
  font-size: 1rem;
  max-width: 800px;
/*   background-color: grey;*/ 
  width: 100%;
  min-width: 25rem;
  height: 42rem; 
box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.5);
  border-radius:1%;
  margin-left:   5rem;
  margin-right:   5rem;
}

.month{
/*   width: 100%;*/ 
  height: 8rem;
  background-color:#00B2B8 ;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding:0 3rem;
}

.month i {
margin-top: 3rem;
cursor: pointer;
}


.date{
  margin-top: 2rem;

}

/* END OF HEADER */

.weekdays{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  width: 100%;
  height: 5rem;
  font-size:1.2em;
  font-weight: bold;

}

.weekdays div{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.days{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;

}

/* .days div{
  margin: .4rem;
  width: calc(17rem / 7);
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
} */

/*
================= 
mobile size media
=================
*/
@media (max-width: 768px) {
  
  .calendar {
    max-width: 200px;
  }

  .days div{
    margin: .4rem;
    width: calc(17rem / 7);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
}

/*
================= 
medium size media
=================
*/

/* 
@media (max-width: 769px) {
  

  .days div{
    margin: .4rem;
    width: calc(4rem / 7);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
} */


/* 
=================
larger size media 
=================
*/

/* 
@media (min-width: 1100px) {
  
  .days div{
    margin: .4rem;
    width: calc(17rem / 7);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
}
 */

